@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


input:invalid[focused="false"] ~ span{
	display: none;
}
input:valid ~ span{
	display: none;
}
input:invalid[focused="true"] ~ span{
	display: block;
}

input:invalid[focused="true"]{
    border: 1px solid #bf1531;
}